<!-- Modal -->
<div class="modal fade" id="modal-{{room.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-3">
        <div class="card mb-3" style="width: 100%;">
            <img class="img-fluid" src="{{url_for('static',filename=room.image)}}" alt="{{room.classification}}">
            <div class="card-body">
                <h4>{{ room.classification | capitalize }}</h4>
                <p>Cost per unit(Ksh): <strong>{{room.cost}}</strong></p>
                <p>No. of Units Available: <strong>{{room.units - room.get_booked_units()}}</strong></p>
                <p class="card-text">{{room.details }}</p>
               
                {% if (room.units - room.get_booked_units()) > 0 %}
                <p>
                  <a class="btn btn-sm btn-outline-info btn-block text-center" target="_blank" href="{{ url_for('main.book',id=room.id)}}">
                    Book
                  </a>
                </p>
                {%endif%} 
                
            </div>
        </div>
      </div>
    </div>
  </div>