{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!--Flash message -->
    {% for category,message in get_flashed_messages(with_categories=true) %}
    <div class="alert my-2 mx-auto alert-{{category}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
    {% endfor %}
    <!-- render rooms -->
    <div class="row">
        {% for room in rooms %}
        <div class="col-md-6">
            <div class="card mb-3" style="width: 100%;">
                <img class="img-fluid" src="{{url_for('static',filename=room.image)}}" alt="{{room.classification}}">
                <div class="card-body">
                    <h4>{{ room.classification | capitalize }}</h4>
                    <p>Cost per unit(Ksh): <strong>{{room.cost}}</strong></p>
                    <p>No. of Units: <strong>{{room.units}}</strong></p>
                    <p class="card-text">{{room.details}}</p>
                    <a class="btn-sm btn-info btn-block text-center" target="_blank" href="#">
                      Book
                    </a>
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
    <!-- end render rooms -->
</div>

{% endblock %}